# Stock Market Data

In [1]:
library(data.table)

## Download stock historical from yahoo website
## Read CSV file

In [2]:
AAPL <- read.csv('C:/Users/Tin Hang/Desktop/WorkingOnPython/SimpleStocksR/AAPL.csv')

In [3]:
head(AAPL)

  Date       Open   High   Low    Close  Adj.Close Volume
1 2016-01-04 102.61 105.37 102.00 105.35 99.49911  67649400
2 2016-01-05 105.75 105.85 102.41 102.71 97.00573  55791000
3 2016-01-06 100.56 102.37  99.87 100.70 95.10736  68457400
4 2016-01-07  98.68 100.13  96.43  96.45 91.09340  81094400
5 2016-01-08  98.55  99.11  96.76  96.96 91.57507  70798000
6 2016-01-11  98.97  99.06  97.34  98.53 93.05787  49739400

In [4]:
# Another function you can use 'fread'
AAPL_df <- fread('C:/Users/Tin Hang/Desktop/WorkingOnPython/SimpleStocksR/AAPL.csv')

In [5]:
head(AAPL_df)

  Date       Open   High   Low    Close  Adj Close Volume
1 2016-01-04 102.61 105.37 102.00 105.35 99.49911  67649400
2 2016-01-05 105.75 105.85 102.41 102.71 97.00573  55791000
3 2016-01-06 100.56 102.37  99.87 100.70 95.10736  68457400
4 2016-01-07  98.68 100.13  96.43  96.45 91.09340  81094400
5 2016-01-08  98.55  99.11  96.76  96.96 91.57507  70798000
6 2016-01-11  98.97  99.06  97.34  98.53 93.05787  49739400

In [6]:
AAPL_df1 <- read.csv('C:/Users/Tin Hang/Desktop/WorkingOnPython/SimpleStocksR/AAPL.csv', header = TRUE, sep = ',')

In [7]:
rownames(AAPL_df1)=NULL

In [8]:
tail(AAPL_df1)

    Date       Open   High   Low    Close  Adj.Close Volume
749 2018-12-21 156.86 158.16 149.63 150.73 150.0863  95744600
750 2018-12-24 148.15 151.55 146.59 146.83 146.2030  37169200
751 2018-12-26 148.30 157.23 146.72 157.17 156.4988  58582500
752 2018-12-27 155.84 156.77 150.07 156.15 155.4832  53117100
753 2018-12-28 157.50 158.52 154.55 156.23 155.5628  42291400
754 2018-12-31 158.53 159.36 156.48 157.74 157.0664  35003500

## Quantmod

### install.packages('Quantmod')

In [9]:
library(quantmod)

Warning message:
"package 'quantmod' was built under R version 3.5.3"Loading required package: xts
Warning message:
"package 'xts' was built under R version 3.5.3"Loading required package: zoo
Warning message:
"package 'zoo' was built under R version 3.5.3"
Attaching package: 'zoo'

The following objects are masked from 'package:base':

    as.Date, as.Date.numeric


Attaching package: 'xts'

The following objects are masked from 'package:data.table':

    first, last

Loading required package: TTR
Warning message:
"package 'TTR' was built under R version 3.5.3"Version 0.4-0 included new data defaults. See ?getSymbols.

In [10]:
aapl <- getSymbols("AAPL", from = "2016-01-01", to = "2019-01-01", src="yahoo", auto.assign = F)

'getSymbols' currently uses auto.assign=TRUE by default, but will
use auto.assign=FALSE in 0.5-0. You will still be able to use
'loadSymbols' to automatically load data. getOption("getSymbols.env")
and getOption("getSymbols.auto.assign") will still be checked for
alternate defaults.

This message is shown once per session and may be disabled by setting
options("getSymbols.warning4.0"=FALSE). See ?getSymbols for details.

In [11]:
head(aapl)

           AAPL.Open AAPL.High AAPL.Low AAPL.Close AAPL.Volume AAPL.Adjusted
2016-01-04    102.61    105.37   102.00     105.35    67649400      99.49911
2016-01-05    105.75    105.85   102.41     102.71    55791000      97.00573
2016-01-06    100.56    102.37    99.87     100.70    68457400      95.10736
2016-01-07     98.68    100.13    96.43      96.45    81094400      91.09340
2016-01-08     98.55     99.11    96.76      96.96    70798000      91.57507
2016-01-11     98.97     99.06    97.34      98.53    49739400      93.05787

## Quandl

### install.packages('Quandl')

In [12]:
library(Quandl)

Warning message:
"package 'Quandl' was built under R version 3.5.3"

In [13]:
Quandl.api_key("zZN6fzhAQD1x6pAKiHjs") # Input your Key

In [14]:
aapl <- Quandl("WIKI/AAPL", type="xts")

In [15]:
head(aapl)

            Open  High   Low Close  Volume Ex-Dividend Split Ratio Adj. Open
1980-12-12 28.75 28.87 28.75 28.75 2093900           0           1 0.4227059
1980-12-15 27.38 27.38 27.25 27.25  785200           0           1 0.4025631
1980-12-16 25.37 25.37 25.25 25.25  472000           0           1 0.3730104
1980-12-17 25.87 26.00 25.87 25.87  385900           0           1 0.3803618
1980-12-18 26.63 26.75 26.63 26.63  327900           0           1 0.3915359
1980-12-19 28.25 28.38 28.25 28.25  217100           0           1 0.4153545
           Adj. High  Adj. Low Adj. Close Adj. Volume
1980-12-12 0.4244703 0.4227059  0.4227059   117258400
1980-12-15 0.4025631 0.4006517  0.4006517    43971200
1980-12-16 0.3730104 0.3712461  0.3712461    26432000
1980-12-17 0.3822732 0.3803618  0.3803618    21610400
1980-12-18 0.3933003 0.3915359  0.3915359    18362400
1980-12-19 0.4172659 0.4153545  0.4153545    12157600

## BatchGetSymbols

### install.packages('BatchGetSymbols')

In [16]:
library(BatchGetSymbols)

Warning message:
"package 'BatchGetSymbols' was built under R version 3.5.3"Loading required package: rvest
Warning message:
"package 'rvest' was built under R version 3.5.3"Loading required package: xml2
Warning message:
"package 'xml2' was built under R version 3.5.3"Loading required package: dplyr
Warning message:
"package 'dplyr' was built under R version 3.5.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:xts':

    first, last

The following objects are masked from 'package:data.table':

    between, first, last

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [17]:
aapl <- BatchGetSymbols(tickers = AAPL, 
                         first.date = "2016-01-01",
                         last.date = "2018-01-01", 
                         freq.data = 'daily')

ERROR: Error in BatchGetSymbols(tickers = AAPL, first.date = "2016-01-01", last.date = "2018-01-01", : Google is no longer providing price data. You should be using YFinance

In [ ]:
head(aapl)

## FinAna

### install.packages('FinAna')

In [ ]:
library(FinAna)

In [ ]:
aapl <- get.price.yahoo('AAPL', bg = "2016-01-01",ed = "2019-01-01", f = "d")

In [ ]:
head(aapl)